/* footer{
    display: inline !important;
} */

body{
    background-color: rgba(100, 99, 99, 0.39) !important;
}

/* *{
    --bs-gutter-x: 0rem !important;
    outline: 1px solid red;
} */

.carouselImg {
    height: 350px;
    object-fit: cover;
}

h1, h2{
    background-color: rgba(77, 77, 77, 0.658) !important;
    
}

th,td {
    text-align: center;
    min-width: 8rem;
}
